.numbers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width : 100%;
}

.schoo-info {
  display: flex;
  justify-content: space-between;
}

.register {
  background-color: #000ef8;
  padding: 0.5rem;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-right: 5rem;
  border: none;
  height: 56px;
}

.register:hover{
    cursor: pointer;
}

.add {
  width: 24px;
}

.register p {
  color: #ffffff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 16px;
  padding: 1rem;
}

.stats img {
  width: 32px;
  height: 32px;
}

.schools-icon {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #8827810D;
  display: flex;
  justify-content: center;
  align-items: center;
}


.schoolplatforms {
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.schoo-info {
  margin-bottom: 4rem;
}

.table {
  width: 100%;
  margin: 0 auto;
}